@model Pitstop.WebApp.ViewModels.DIYManagementDetailsViewModel
@{
    ViewData["Title"] = "DIY Details";
}
<h3 id="PageTitle">DIY Management - details</h3>
<table class="table">
    <tbody>
        <tr>
            <td width="150">Name :</td>
            <td><b>@Model.DIYAvond.Name</b></td>
        </tr>
        <tr>
            <td>Description :</td>
            <td><b>@Model.DIYAvond.Description</b></td>
        </tr>
        <tr>
            <td width="150">Date :</td>
            <td><b>@Model.DIYAvond.Date</b></td>
        </tr>
        <tr>
            <td width="150">Start time :</td>
            <td><b>@Model.DIYAvond.StartTime</b></td>
        </tr>
        <tr>
            <td width="150">End time :</td>
            <td><b>@Model.DIYAvond.EndTime</b></td>
        </tr>
        <tr>
            <td width="150">Location :</td>
            <td><b>@Model.DIYAvond.Location</b></td>
        </tr>
        <tr>
            <td width="150">Max registrations :</td>
            <td><b>@Model.DIYAvond.MaxRegistrations</b></td>
        </tr>
        <tr>
            <td width="150">Registrations :</td>
            <td><b>@Model.DIYAvond.Registrations</b></td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Name customer</th>
            <th>Reparation(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diyRegistration in Model.DIYRegistrations)
        {
            <tr>
                <td>@diyRegistration.CustomerName</td>
                <td>@diyRegistration.Reparations</td>
            </tr>
        }
    </tbody>
</table>
<span><a id="BackButton" asp-action="Index" asp-controller="DIYManagement" class="btn btn-default">Back</a></span>