@using Microsoft.AspNetCore.Antiforgery
@model Pitstop.WebApp.ViewModels.DIYManagementDetailsViewModel
@{
    ViewData["Title"] = "DIY Details";
}
<h3 id="PageTitle">DIY Management - details</h3>
<table class="table">
    <tbody>
        <tr>
            <td width="150">Name :</td>
            <td><b>@Model.DIYAvond.Title</b></td>
        </tr>
        <tr>
            <td>Description :</td>
            <td><b>@Model.DIYAvond.ExtraInfo</b></td>
        </tr>
        <tr>
            <td width="150">Start time :</td>
            <td><b>@Model.DIYAvond.StartDate</b></td>
        </tr>
        <tr>
            <td width="150">End time :</td>
            <td><b>@Model.DIYAvond.EndDate</b></td>
        </tr>
        <tr>
            <td width="150">Mechanic :</td>
            <td><b>@Model.DIYAvond.Mechanic</b></td>
        </tr>
        <tr>
            <td width="150">Cancelled</td>
            <td><b>@Model.DIYAvond.Cancelled</b></td>
        </tr>
    </tbody>
</table>
<a id="RegisterCustomerButton" asp-action="NewRegistration" asp-route-diyAvondId="@Model.DIYAvond.Id"
asp-controller="DIYManagement" class="btn btn-default">Register customer</a>
<a id="CancelButton" asp-action="Index" asp-controller="DIYManagement" class="btn btn-default">Cancel</a>

<a id="CancelDIYButton" class="btn btn-default" onclick="cancelDIYEvening(@Model.DIYAvond.Id)">Cancel evening</a>

<script type="text/javascript">
    async function cancelDIYEvening(diyAvondId) {
        try {
            const response = await fetch(`http://localhost:7005/DIYManagement/CancelDIYEvening/${diyAvondId}`, {
            method: 'PUT',
            headers: {
            'Content-Type': 'application/json'
            }
            });
            console.log(response);
            if (response.ok || response.status == 302) {
                alert('DIY evening has been cancelled');
                window.location.href = 'http://localhost:7005/DIYManagement';
            } else {
                alert('Failed to cancel DIY evening');
            }
        } catch (error) {
            alert('Failed to cancel DIY evening');
        }
    }
</script>
